* {
  padding: 0;
  margin: 0;
  font-family: "Open sans", sans-serif;
  box-sizing: border-box;
  color: #1f1f1f;
}
body {
  background: #fcfcfc;
}
.container {
  width: 1300px;
  margin: 0 auto;
  height: 100%;
}
.header {
  border-bottom: 1px solid #eeeeee;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  backdrop-filter: blur(10px);
  z-index: 1;
}
.header-row {
  height: 100%;
  line-height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-row .header-row__logo {
  font-weight: 900;
  font-size: 32px;
}
.header-row .header-row__cart {
  padding: 0 25px;
}
.header-row .header-row__cart:hover {
  background: #1f1f1f;
  color: white;
  cursor: pointer;
}
.content {
  margin-top: 100px;
}
.content-2 {
  margin-top: 100px;
}
.content-box {
  display: flex;
  flex-wrap: wrap;
}
.card {
  width: 25%;
}
.card-box:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
  /*background: #efefef;*/
}
.card-box {
  background: white;
  border: 1px solid #eeeeee;
  border-radius: 15px;
  margin: 10px;
  transition: all 0.2s;
  overflow: hidden;
}
.card .card__image {
  text-align: center;
  margin: 5px 15px;
  height: 200px;
  background: white;
  border-bottom: 1px solid #eeeeee;
}
.card .card__image img {
  height: 100%;
  padding-bottom: 10px  ;
}
.card .card-text {
  padding: 15px;
}
.card .card-text .card-text__label {
  font-size: 24px;
  font-weight: 900;
  margin-bottom: 15px;
}
.card .card-text .card-text__description {
  margin-bottom: 25px;
  height: 75px;
  overflow: hidden;
}
.card .card-text .card-text__price {
  font-weight: 500;
  font-size: 18px;
  display: flex;
  justify-content: flex-end;
}
.card .card-text .card-text__price p {
  padding: 10px;
  background: #f1f1f1;
  transition: all 0.4s;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}
.card .card-text .card-text__price p:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background: #1f1f1f;
  transition: all 0.4s;
}
.card-box:hover .card-text .card-text__price p {
  background: #1f1f1f;
  color: white;
}
.card_button button {
  /*margin-bottom: 20px;*/
  width: 100%;
  border: none;
  line-height: 55px;
  transition: all 0.2s;
  background: white;
}
.card-box:hover .card_button button {
  cursor: pointer;
  background: #1f1f1f;
  color: white;
}

.content-2 {
  display: none;
}
/*Это другое*/
/*.container {*/
/*  width: 1200px;*/
/*  margin: 0 auto;*/
/*  height: 100vh;*/
/*  display: flex;*/
/*  justify-content: center;*/
/*  align-items: center;*/
/*}*/

/*.loading {*/
/*  width: 250px;*/
/*  text-align: center;*/
/*  padding: 5px 15px;*/
/*  background: #e0e0e0;*/
/*  font-family: sans-serif;*/
/*  color: white;*/
/*  position: relative;*/
/*}*/
/*.loaded {*/
/*  position: absolute;*/
/*  top: 0;*/
/*  left: 0;*/
/*  background: rgba(129, 127, 127, 0.25);*/
/*  width: 0;*/
/*  z-index: 0;*/
/*  height: 100%;*/

/*}*/
/*.label {*/
/*  z-index: 999;*/
/*}*/

/*А это то что надо*/

